/* Theme: Light */
body.theme-light {
    background: #fff;
}
.theme-light .title-box {
    color: #fff;
    background: #333;
}
.theme-light .table {
    border: 1px solid #e4e4e4;
}
.theme-light .row-header, .theme-light .row {
    border: 1px solid #e4e4e4;
}
.theme-light .value {
    border-right: 1px solid #e4e4e4;
}
.theme-light .selected {
    background: #eee !important; 
}
.theme-light .name {
    border-right: 1px solid #e4e4e4;
    background: #f8f8f8;
}
.theme-light .header-box {
    border-left: dashed #e4e4e4;
}
.theme-light .header-box .header {
    color: #333;
}
.theme-light .button-clear {
    color: #fff;
    background-color: #111;
}

/* Theme: dark */
body.theme-dark {
    background: rgb(37, 37, 38);
}
.theme-dark .title-box {
    color: #fff;
    background: #111;
}
.theme-dark .table {
    color: #fff;
    border: 1px solid #141313;
}
.theme-dark .row-header, .theme-dark .row {
    border: 1px solid #141313;
}
.theme-dark .name {
    background: #1C1B1B;
    border-right: 1px solid #141313;
}
.theme-dark .value {
    border-right: 1px solid #141313;
}
.theme-dark .selected {
    background: #161515 !important;
}
.theme-dark .header-box {
    border-left: dashed #111;
}
.theme-dark .header-box .header {
    color: #fff;
}
.theme-dark .button-clear {
    color: #fff;
    background-color: #111;
}

/* Data */
.theme-dark .keyword {
    color: rgb(86, 156, 214);
}
.theme-light .keyword {
    color: rgb(0, 0, 255);
}

.theme-dark .string {
    color: rgb(214, 157, 133);
}
.theme-light .string {
    color: rgb(163, 21, 21);
}

.theme-dark .number {
    color: rgb(181, 206, 168);
}
.theme-light .number {
    color: rgb(0, 0, 0);
}

.theme-dark .enum {
    color: rgb(184, 215, 163);
}
.theme-light .enum {
    color: rgb(43, 145, 175);
}

.theme-dark .date {
    color: rgb(181, 206, 168);
}
.theme-light .date {
    color: rgb(0, 0, 0);
}

.theme-dark .text {
    color: rgb(255, 255, 255);
}
.theme-light .text {
    color: rgb(0, 0, 0);
}