/* Theme: Light */
body.theme-light {
    background: #fff;
}
.theme-light .title-box {
    color: #fff;
    background: #17b;
}
.theme-light .table {
    border: 1px solid #17b;
}
.theme-light .row-header, .theme-light .row {
    border: 1px solid #17b;
}
.theme-light .value {
    border-right: 1px solid #17b;
}
.theme-light .selected {
    background: #eee !important; 
}
.theme-light .name {
    border-right: 1px solid #777;
    background: #ddd;
    font-weight: bold;
    color: #000;
}
.theme-light .type {
    background: #def;
}
.theme-light .header-box {
    border-left: dashed #e4e4e4;
}
.theme-light .header-box .header {
    color: #333;
}
.theme-light .button-clear {
    color: #fff;
    background-color: #111;
}

/* Theme: dark */
body.theme-dark {
    background: rgb(37, 37, 38);
}
.theme-dark .title-box {
    color: #fff;
    background: #3887B5;
}
.theme-dark .table {
    color: #fff;
    border: 1px solid #3887B5;
}
.theme-dark .row-header, .theme-dark .row {
    border: 1px solid #3887B5;
}
.theme-dark .name {
    background: rgb(80,80,80);
    border-right: 1px solid #3887B5;
    color: rgb(220,220,220);
    font-weight: bold;
}
.theme-dark .value {
    border-right: 1px solid #3887B5;
}
.theme-dark .selected {
    background: rgb(65, 65, 65) !important;
}
.theme-dark .type {
    background: rgb(80,80,80);
}
.theme-dark .header-box {
    border-left: dashed #111;
}
.theme-dark .header-box .header {
    color: #fff;
}
.theme-dark .button-clear {
    color: #fff;
    background-color: #111;
}

/* Data */
.theme-dark .keyword {
    color: #90ee90;
}
.theme-light .keyword {
    color: green
}

.theme-dark .string {
    color: rgb(214, 157, 133);
}
.theme-light .string {
    color: rgb(163, 21, 21);
}

.theme-dark .number {
    color: rgb(181, 206, 168);
}
.theme-light .number {
    color: rgb(0, 0, 0);
}

.theme-dark .enum {
    color: rgb(184, 215, 163);
}
.theme-light .enum {
    color: rgb(43, 145, 175);
}

.theme-dark .date {
    color: rgb(181, 206, 168);
}
.theme-light .date {
    color: rgb(0, 0, 0);
}

.theme-dark .text {
    color: rgb(255, 255, 255);
}
.theme-light .text {
    color: rgb(0, 0, 0);
}